@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Seymour+One&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-image: url(./assets/1.jpeg);
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  background-size:cover;
  background-repeat: no-repeat;
  
  }
  
  .container {
    max-width: 400px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.226); 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

  @media screen and (max-width:600px) {
    .container{
      width:300px;
    }
  }
  
  h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.616); 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    /* animation: heartbeat 2s ease infinite alternate; */
    font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
    
  }
  
  @keyframes heartbeat {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(204, 204, 204, 0.637);
    border-radius: 5px;
    background-color: rgba(39, 39, 39, 0.424); 
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.2rem
  }
  ::placeholder{
    color: rgba(255, 255, 255, 0.507);
    font-size: 1rem;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #005c78b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.2rem
    }
  
  button:hover {
    background-color: #005c78da; 
   }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 12px;
    background-color: rgba(85, 85, 85, 0.616); 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    margin-bottom: 8px;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.2rem
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.555);
  }
  
  .delete-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #005c788c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
  }
  
  .delete-btn:hover {
    background-color: #005c78da; 

  }
  
  li:hover .delete-btn {
    opacity: 1;
  }
  
  
  @keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  li.new-item {
    animation: fade-in 0.5s ease forwards;
  }
  
  
  li.new-item {
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
  }
  
 
  li.new-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  */
  
  li:hover .delete-btn {
    opacity: 1;
  }

  .footer {
    color: rgb(206, 206, 206);
    text-align: center;
    font-weight: 600;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: auto; 
  }
  
  .footer__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .footer__social {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .footer__icon {
    font-size: 1.5rem;
    color: rgb(206, 206, 206);
    margin: 0 1rem;
    
  }
  .footer__copy {
    font-size:1rem;
  }


 

  
